<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Áudios" tabIcon="musical-notes"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Vídeos" tabIcon="videocam"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Loja" tabIcon="basket"></ion-tab>
</ion-tabs>
