<ion-header>
  <ion-navbar>
    <ion-title>Loja - Momentos do PB</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item id="my-item" *ngFor="let product of listProducts" style="text-align: center; padding-left: 0">
			<a href="#" (click)="goToStore(product.url)" style="text-decoration: none;">
				<span style="display: block; letter-spacing: 1px; font-weight: bold;">{{product.name}}</span>
				<img [src]="product.preview" (click)="goToStore(product.url)" style="height: 230px"/>
			</a>
			<button ion-button block style="background-color: #77dd77; width: 150px; height: 35px; margin: 0 auto; display: block;" (click)="goToStore(product.url)">Comprar</button>
		</ion-item>
	</ion-list>
</ion-content>