<ion-header>
  <ion-navbar>
    <ion-title>Vídeos - Momentos do PB</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="padding-right: 0; padding-left: 0; margin-bottom: 100px;">
	<ion-list>
		<ion-item id="my-item" *ngFor="let video of listVideos" style="text-align: center; padding-left: 0">
			<img [src]="video.img" style="width: 480px;" (click)="openVideoOnYoutube(video.videoId)"/>
		</ion-item>
	</ion-list>
	<button ion-button block style="background-color: #323232; width: 80%; margin: 0 auto; display: block;" (click)="show5More()">Mostrar Mais</button>
</ion-content>