page-home {

	.scroll-content {
		padding-left: 0 !important; 
		padding-right: 0 !important;
	}

	
}

audio-track-play {
	margin: 0 !important;
}

audio-track-play button {
	width: 50px !important; height: 50px !important;
	min-width: 50px !important; min-height: 50px !important;
}

.btn-play-style {
	margin: 0; 
	width: 50px !important; 
	height: 50px !important; 
	margin-top: 8px !important;
	min-width: 50px !important; 
	min-height: 50px !important;
}

.ion-md-ai-whatsapp {
	margin-right: 10px !important;
}

.ion-md-ai-facebook {
	margin-right: 10px !important;
}

.ion-md-ai-instagram {
	margin-right: 10px !important;width: 80px; height: 80px;
}





.ion-md-play {
	padding-left: 18px !important;
    padding-right: 12px !important;
}

/*
 * https://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}