<ion-header>
  <ion-navbar color="dark">
    <ion-title style="color:white">Áudios - Momentos do PB</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let pretinho of listPretinhos" [hidden]="pretinho.audios.length == 0" style="margin-bottom:17px;">
    <a href="#" style="text-decoration: none;">
      <ion-list-header text-wrap style="background-color: #323232; color: white;" (click)="toggleGroup(pretinho)">
        <ion-icon name="{{isGroupShown(pretinho) ? 'arrow-dropdown' : 'arrow-dropright'}}" style="padding-right: 10px;"></ion-icon>
        <h2 style="display: inline-block;">{{pretinho.name}}</h2><span style="color: #d3d3d3">{{pretinho.characters == '' ?  '' : '  -  ' + pretinho.characters}}</span>
      </ion-list-header>
    </a>
    <span  [hidden]="!isGroupShown(pretinho)">
    <audio-track #audio *ngFor="let track of pretinho.audios" [track]="track" class="item-accordion">
      <ion-item style="padding-right: 10px; padding-top: 10px;"><i class="icon"></i>
            &nbsp;
        <ion-thumbnail item-left style="margin:0">
          <img [src]="imgsPath + 'black_circle.png'" class="btn-play-style"/>
          <audio-track-play dark [audioTrack]="audio" class="btn-play-style"><ion-spinner></ion-spinner></audio-track-play>  
        </ion-thumbnail>
        <div item-content style="width:100%; padding-bottom: 6px;">
          <h2><strong>{{track.title + ' - ' + track.character}}</strong></h2>
          <br/>
          <div style="display: flex;">
          <audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: 'visible'}" style="width: 100%"></audio-track-progress-bar>
          <ion-icon name="share" (click)="presentActionSheet(track.src)" style="font-size: 22px; padding-left: 10px;color: #323232;"></ion-icon>
          </div>
        </div>
      </ion-item>
    </audio-track>
    </span>
  </ion-list>
</ion-content>