@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?edykwm');
  src:  url('../assets/fonts/icomoon.eot?edykwm#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?edykwm') format('truetype'),
    url('../assets/fonts/icomoon.woff?edykwm') format('woff'),
    url('../assets/fonts/icomoon.svg?edykwm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ai-facebook:before ,
 .ion-ios-ai-facebook:before ,
 .ion-ios-ai-facebook-outline:before ,
 .ion-md-ai-facebook:before ,
 .ion-md-ai-facebook-outline:before {
    content: "\e900";
    color: #475993;
}

.ai-instagram:before ,
 .ion-ios-ai-instagram:before ,
 .ion-ios-ai-instagram-outline:before ,
 .ion-md-ai-instagram:before ,
 .ion-md-ai-instagram-outline:before {
    content: "\e901";
}

.ai-whatsapp:before ,
 .ion-ios-ai-whatsapp:before ,
 .ion-ios-ai-whatsapp-outline:before ,
 .ion-md-ai-whatsapp:before ,
 .ion-md-ai-whatsapp-outline:before {
    content: "\e902";
  color: #7ad06d;
}

